@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins',sans-serif;
    /* border:1px solid aqua; */
}
body{
    background:white;
    width:100vw;
    height:100vh;
}
.socialmedia{
    width:100vw;
    height: 100vh;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialmedia ul{
    list-style: none;
    width:50%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:row;
}
.socialmedia ul li{
    display:flex;
    margin:5% 5%;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius:1rem;
    width:7rem;
    height:7rem;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
}
.socialmedia ul li a{
    text-decoration: none;
    font-size:5rem;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.socialmedia ul li:hover:nth-child(1){
    background:#4b4be6;
}
.socialmedia ul li:hover:nth-child(2){
    background:#0078b5;
}
.socialmedia ul li:hover:nth-child(3){
    background:#e4405f;
}
.socialmedia ul li:hover:nth-child(4){
    background:#37b6ff;
}
.socialmedia ul li a i{
    color:#333;
}
.socialmedia ul li:hover a i{
    color:white;
}
.socialmedia ul li:hover a i{
    transform: translateZ(40px);
    font-size:6.5rem;
}
.js-tilt-glare{
    border-radius: 1rem;
}
